<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let visible = false;
  /** @type Object.<string, string> */
  export let messages;
  /** @param {Event} event */
  function onDrawerToggle(event) {
    event.stopPropagation();
    dispatch('drawertoggle')
  }
</script>

<nav class="nav" >
  <img alt="App Logo" class="nav__image" src="/images/launcher_plain.svg" width="65" height="65" />
  <span class="nav__title">
    {messages.appTitle}
  </span>
  <ul class={'nav__list' + (visible ? '' : ' nav__list--collapsed')}>
    <li>
      <a href="/" class="nav__button nav__button--first" type="button">
        {messages.homeTab}
      </a>
    </li>
    <li>
      <a href="/privacy-policy" class="nav__button" type="button">
        {messages.privacyPolicyTab}
      </a>
    </li>
    <li>
      <a href="/contact" class="nav__button" type="button">
        {messages.contactTab}
      </a>
    </li>
    <li>
      <a href="/help" class="nav__button nav__button--last" type="button">
        {messages.helpTab}
      </a>
    </li>
  </ul>
  <button type="button" class="nav__toggle" on:click={onDrawerToggle}>
    <img alt="Open/Close Drawer" src="/images/drawer.svg" width="48" height="48" />
  </button>
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    background-color: var(--nav-color);
    border-width: var(--nav-border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--nav-border-dark-color);
  }

  .nav__image {
    margin: 4px;
    margin-left: 15px;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    width: var(--nav-drawer-width);
    right: 0;
    top: 0;
    position: absolute;
    background-color: var(--nav-color);
    border-radius: var(--nav-radius);
    border-top-color: var(--nav-border-light-color);
    border-left-color: var(--nav-border-light-color);
    border-bottom-color: var(--nav-border-dark-color);
    border-right-color: var(--nav-border-dark-color);
    border-width: var(--nav-border-width);
    border-style: solid;
    padding-left: 0;
    margin-top: var(--nav-height);
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    z-index: 5;
  }
  .nav__list--collapsed {
    display: none;
  }
  .nav__button {
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    width: 100%;
    padding: 0 1em;
    display: block;
    font-size: 16px;
    color: black;
    height: var(--nav-height);
    line-height: var(--nav-height);
    white-space: nowrap;
  }
  .nav__button:hover {
    background-color: var(--nav-hover-color);
  }
  .nav__button--first {
    border-top-right-radius: var(--nav-radius);
    border-top-left-radius: var(--nav-radius);
  }
  .nav__button--last {
    border-bottom-right-radius: var(--nav-radius);
    border-bottom-left-radius: var(--nav-radius);
  }
  .nav__toggle {
    display: block;
    background-color: var(--nav-color);
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    z-index: 1;
  }

  .nav__title {
    align-self: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
  }
  /* small-break */
  @media only screen and (min-width: 576px) {
  }

  /* medium-break */
  @media only screen and (min-width: 768px) {
  }

  /* large-break */
  @media only screen and (min-width: 992px) {
    .nav__list {
      border: none;
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
      margin-left: auto;
      box-shadow: none;
    }
    .nav__list--collapsed {
      display: flex;
    }
    .nav__button--first {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .nav__button--last {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__title {
      font-size: 1.35rem;
    }
  }

  /* xlarge-break */
  @media only screen and (min-width: 1200px) {
  }

  /* xxlarge-break */
  @media only screen and (min-width: 1400px) {
  }
</style>
