<script>
  /** @type Object.<string, string> */
  export let helpMessages;
  /** @type Promise<{ filteredTopics: object, count: number }>? */
  export let queryResult = null;

  import { transWithVars } from '$lib/index';

  /** @param {number?} count */
  function generateResultText(count) {
    if (count !== null) {
      switch (count) {
        case 0:
          return helpMessages.foundNoResultLabel;
        case 1:
          return helpMessages.foundResultLabel;
        default:
          return transWithVars(helpMessages.foundResultsLabel, { count });
      }
    } else {
      return '';
    }
  }
</script>

<div class="search">
  <input
    id="search"
    class="search__input"
    type="search"
    placeholder="Search Topics"
    on:input
  />
  {#await queryResult}
    <br />
  {:then result}
    <p class="search__count">{generateResultText(result ? result.count : null)}</p>
  {/await}
</div>

<style>
  .search {
    margin: 20px auto;
    text-align: center;
    width: 100%;
  }
  .search__input {
    display: block;
    margin: auto auto;
    border: 2px solid rgb(127, 164, 176);
    border-radius: 12px;
    width: var(--help-search-width);
    height: 30px;
  }
  .search__count {
    color: gray;
    margin-left: 10px;
  }
</style>
