<script>
  /** @type string */
  export let title;
</script>
<div class="topic">
  <h1 id="{title}" class="topic__title">{title}</h1>
  <slot />
</div>

<style>
  .topic {
    margin: 50px 0;
  }
  .topic__title {
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 500;
  }
</style>
