<script>
  import Footer from '$lib/footer.svelte';
  import Navbar from '$lib/navbar.svelte';

  /** @type any */
  export let data;

  let isNavOpen = false;

  function onBodyClick() {
    isNavOpen = false;
  }
  function onDrawerToggle() {
    isNavOpen = !isNavOpen;
  }
</script>

<svelte:body on:click={onBodyClick} />

<div class="main-layout">
  <Navbar visible={isNavOpen} messages={data.navMessages} on:drawertoggle={onDrawerToggle} />
  <div class="outlet">
    <slot />
  </div>
  <Footer />
</div>

<style>
  :global(*) {
    box-sizing: border-box;
  }

  :global(body) {
    margin: 0;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
  }

  :root {
    --intro-linear-color-start: #ffbdd1;
    --intro-linear-color-end: #bdffd6;
    --pc-download-linear-color-end: #aadafd;
    --features-linear-color-end: #fcfdae;
    --setup-linear-color-end: #aab3fd;

    --col-gap: 15px;

    --link-button-bg-color: #262c64;
    --link-button-hover-bg-color: rgb(215, 222, 252);

    --link-button-color: white;
    --link-button-hover-color: black;

    --other-downloads-link-color: black;

    --nav-color: #bddfbc;
    --nav-border-dark-color: #a8d3a8;
    --nav-border-light-color: #d3e9d3;
    --nav-hover-color: rgb(144, 187, 144);

    --nav-height: 75px;
    --nav-radius: 10px;
    --nav-border-width: 2px;
    --nav-drawer-width: 250px;

    --help-search-width: 100%;

    --footer-height: 90px;

    --small-break: 576px;
    --medium-break: 768px;
    --large-break: 992px;
    --x-large-break: 1200px;
    --xx-large-break: 1400px;

    --break-height: 640px;

    --container-tp-margin-small: 10px;
    --container-tp-margin-medium: 20px;
  }

  .main-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .outlet {
    flex-grow: 1;
  }

  /* small-break */
  @media only screen and (min-width: 576px) {
    :root {
      --help-search-width: 250px;
    }
  }

  /* medium-break */
  @media only screen and (min-width: 768px) {
    :root {
      --nav-drawer-width: 300px;
    }
  }

  /* large-break */
  @media only screen and (min-width: 992px) {
  }

  /* x-large-break */
  @media only screen and (min-width: 1200px) {
  }

  /* xx-large-break */
  @media only screen and (min-width: 1400px) {
  }
</style>
