<script>
  import { transWithVars } from '$lib/index';

  /** @type {import('./$types').PageData} */
  export let data;

  const versionInfo = {
    appVersion: '1.5.2',
    networkVersion: '1'
  };
</script>

<svelte:head>
	<title>{data.navMessages.appTitle}</title>
</svelte:head>

<div class="slide slide--intro-bg">
  <div class="intro">
    <img class="intro__main-image" alt="App User Interface" src="/images/home-phone-image.webp" />
    <div class="intro__right">
      <div class="intro__text">{data.homeMessages.intro}</div>
      <a
        href="https://play.google.com/store/apps/details?id=com.mssalt.gamingwheel"
        target="_blank"
        rel="noreferrer"
      >
        <img
          class="intro__google-play-image"
          alt="Get it on Google Play"
          src="/images/get-google-play.webp"
        />
      </a>
      <a class="download__other-link"
        href="https://drive.google.com/file/d/1CiXXnKI5xd4Ufujmck27h5o9EZZi8Nic/view"
        target="_blank"
        rel="noreferrer">
        {data.homeMessages.downloadFromGoogleDrive}
      </a>
    </div>
  </div>
</div>

<div class="slide slide--pc-download-bg slide--col">
  <h1 class="slide__title">{data.homeMessages.downloadPcAppTitle}</h1>
  <div class="download">
    <div class="download__ui">
      <img class="download__ui-img" src="/images/gw_pc_ss.webp" alt="PC App UI" width="820" />
      <p>{transWithVars(data.homeMessages.latestVersionInfo, versionInfo)}</p>
    </div>
    <div class="download__os-cards">
      <div class="download__os-card">
        <h1 class="download__os-card-title">Windows</h1>
        <p>{data.homeMessages.windowsInstruction1}</p>
        <a
          class="download__button"
          target="_blank"
          href="https://sourceforge.net/projects/vjoystick/files/Beta%202.x/2.1.9.1-160719/vJoySetup.exe/download"
          >{data.homeMessages.downloadVjoyLabel}
        </a >
        <p>{@html data.homeMessages.windowsInstruction2}</p>
        <p>{data.homeMessages.windowsInstruction3}</p>
        <a class="download__button" target="_blank" href="https://drive.google.com/file/d/1gCr6dhv9nEIwjiTRKffnABXEs1AJkSAn/view?usp=sharing"
          >{data.homeMessages.downloadWindows64Bit}</a
        >
        <a class="download__button" target="_blank" href="https://drive.google.com/file/d/19pHWii88FmeHR43cJ_MvtPLdhb2FRCIO/view?usp=sharing"
          >{data.homeMessages.downloadWindows32Bit}</a
        >
      </div>
      <div class="download__os-card">
        <h1 class="download__os-card-title">Linux</h1>
        <p>{@html data.homeMessages.linuxInstruction}</p>
        <a class="download__button" target="_blank" href="https://drive.google.com/file/d/1nZLuAVcMbbs4pPmVJXj9wqNpVUv7N5_x/view?usp=sharing"
          >{data.homeMessages.downloadLinux64Bit}</a
        >
      </div>
    </div>
  </div>
  <div class="download__other-links">
    <a
      class="download__other-link"
      href="https://gitlab.com/mssalt/gaming-wheel-pc"
      target="_blank"
      rel="noreferrer">{data.homeMessages.sourceCodeLink}</a
    >
  </div>
</div>

<div class="slide slide--features-bg">
  <h1 class="slide__title">{data.homeMessages.featuresTitle}</h1>
  <div class="flex-cnt flex-cnt--col flex-cnt--cnt flex-cnt--align-cnt">
    <img class="ui-schema" alt="UI Schema" src={data.homeMessages.uiSchemaUrl} />
  </div>
</div>
<div class="slide slide--setup-bg">
  <h1 class="slide__title">{data.homeMessages.setupTitle}</h1>
  <iframe
    class="setup-video"
    title="Installation and Usage"
    src="https://www.youtube.com/embed/8Qx8HyEZbJI"
    allowFullScreen
  />
</div>

<style>
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    gap: 25px;
  }

  .slide__title {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.9rem;
  }

  .slide--intro-bg {
    background-image: linear-gradient(
      var(--intro-linear-color-start),
      var(--intro-linear-color-end)
    );
  }

  .slide--pc-download-bg {
    background-image: linear-gradient(
      var(--intro-linear-color-end),
      var(--pc-download-linear-color-end)
    );
  }

  .slide--features-bg {
    background-image: linear-gradient(
      var(--pc-download-linear-color-end),
      var(--features-linear-color-end)
    );
  }

  .slide--setup-bg {
    background-image: linear-gradient(
      var(--features-linear-color-end),
      var(--setup-linear-color-end)
    );
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .intro__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  .intro__main-image {
    display: block;
    margin: auto 0;
    width: 90%;
  }
  .intro__google-play-image {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .intro__text {
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1.15rem;
  }

  .download {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--col-gap);
    margin: var(--container-tp-margin-small) 20px;
  }
  .download__ui {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .download__ui-img {
    width: 100%;
    max-width: 800px;
  }
  .download__os-cards {
    display: flex;
    flex-direction: column;
    gap: var(--col-gap);
  }
  .download__os-card {
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    background-image: radial-gradient(#caf2f7, #e2e4f3);
  }
  .download__os-card-title {
    text-decoration: underline;
  }
  .download__button {
    display: inline-block;
    border: 3px solid var(--link-button-bg-color);
    border-radius: 10px;
    color: var(--link-button-color);
    background-color: var(--link-button-bg-color);
    text-decoration: none;
    padding: 17px;
    margin: 7px 7px;
  }
  .download__button:hover {
    background-color: var(--link-button-hover-bg-color);
    color: var(--link-button-hover-color);
  }

  .download__other-links {
    display: flex;
    justify-content: center;
    color: var(--other-downloads-link-color);
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .download__other-link:visited {
    color: var(--other-downloads-link-color);
  }

  .ui-schema {
    display: block;
    width: 100%;
    max-width: 830px;
  }

  .setup-video {
    width: 90%;
    aspect-ratio: 16 / 9;
  }

  /* small-break */
  @media only screen and (min-width: 576px) {
  }

  /* medium-break */
  @media only screen and (min-width: 768px) {
    .slide {
      min-height: 600px;
      padding: 50px;
    }
    .intro__main-image {
      width: 580px;
    }
    .setup-video {
      width: 580px;
    }
  }

  /* large-break */
  @media only screen and (min-width: 992px) {
    .slide__title {
      margin-top: 0;
      margin-bottom: 40px;
      font-size: 3.5rem;
      text-align: center;
    }
    .intro {
      flex-basis: content;
      flex-direction: row;
    }
    .intro__google-play-image {
      margin: 30px auto;
      width: 300px;
    }
    .intro__text {
      font-size: 1.25rem;
    }
    .setup-video {
      width: 880px;
    }
    .download {
      justify-content: center;
      align-items: center;
    }
    .download__ui {
      display: flex;
      align-items: center;
      flex-grow: 6;
      max-width: 800px;
      font-weight: bold;
    }
    .download__ui-img {
      max-width: 600px;
    }
    .download__os-cards {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }
    .download__os-card {
      flex-basis: 0px;
      flex-grow: 1;
    }
    .download__other-links {
      margin-top: 50px;
    }
  }

  /* xlarge-break */
  @media only screen and (min-width: 1200px) {
    .setup-video {
      width: 1100px;
    }
    .download {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
    .download__ui-img {
      max-width: 800px;
    }
    .download__os-cards {
      width: fit-content;
    }
    .download__os-card {
      max-width: 450px;
      flex-grow: 4;
    }
  }

  /* xxlarge-break */
  @media only screen and (min-width: 1400px) {
  }
</style>
