<script>
  /** @type {import('./$types').PageData} */
  export let data;
</script>

<div class="privacy-policy">
  {@html data.messages.privacyPolicy}
</div>

<svelte:head>
	<title>{data.navMessages.privacyPolicyTab}</title>
</svelte:head>

<style>
  .privacy-policy {
    margin: var(--container-tp-margin-small) 20px;
  }
  /* small-break */
  @media only screen and (min-width: 576px) {
  }

  /* medium-break */
  @media only screen and (min-width: 768px) {
  }

  /* large-break */
  @media only screen and (min-width: 992px) {
    .privacy-policy {
      max-width: calc(var(--large-break) - 20px);
      margin: var(--container-tp-margin-medium) auto;
    }
  }

  /* xlarge-break */
  @media only screen and (min-width: 1200px) {
  }

  /* xxlarge-break */
  @media only screen and (min-width: 1400px) {
  }
</style>
