<script>
  /** @type {import('./$types').PageData} */
  export let data;
</script>

<svelte:head>
	<title>{data.navMessages.contactTab}</title>
</svelte:head>

<div class="contact">
  <table class="contact__table">
    <tbody>
      <tr>
        <td>{data.messages.developerLabel}</td>
        <td>mssalt</td>
      </tr>
      <tr>
        <td>{data.messages.emailLabel}</td>
        <td><a href="mailto:mss1451@gmail.com">mss1451@gmail.com</a></td>
      </tr>
      <tr>
        <td>{data.messages.locationLabel}</td>
        <td>Ankara, Türkiye</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  table {
    margin: 30px;
  }

  table,
  td,
  tr {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
  }

  td {
    padding: 15px 15px;
  }
</style>
