<script>
  import Topic from '$lib/topic.svelte';
  import Search from '$lib/search.svelte';
  import Loading from '$lib/loading.svelte';

  /** @type any */
  export let data;
  /** @type string? */
  let query = null;
  /** @type Promise<{ filteredTopics: [Topic], count: number }> */
  let queryResult;
  $: {
    async function searchText() {
      let count;
      let filteredTopics;
      if (query !== null) {
        filteredTopics = data.topics.filter(/** @param {Topic} t */ (t) => {
          const trimmedQuery = query?.trim().toLowerCase();
          return (
            t.content.toLowerCase().includes(trimmedQuery) ||
            t.title.toLowerCase().includes(trimmedQuery)
          );
        });
        count = filteredTopics.length;
      } else {
        filteredTopics = [...data.topics];
        count = null;
      }
      return {filteredTopics, count};
    }
    queryResult = searchText();
  }
  /** @param {Event & { target: any }} event */
  function handleQueryUpdate(event) {
    const value = event.target.value;
    if (value) query = value;
    else query = null;
  }
</script>

<svelte:head>
	<title>{data.navMessages.helpTab}</title>
</svelte:head>

<div class="help">
  <Search
    helpMessages={data.messages}
    queryResult={queryResult}
    on:input={handleQueryUpdate}
  />
  {#await queryResult}
    <Loading />
  {:then result}
    {#each result.filteredTopics as topic (topic.title)}
      <a class="topic-link" href="#{topic.title}">{topic.title}</a>
      <br />
    {/each}
    {#each result.filteredTopics as topic (topic.title)}
      <Topic title={topic.title}>
        {@html topic.content}
      </Topic>
    {/each}
  {/await}
</div>

<style>
  .help {
    margin: var(--container-tp-margin-small) 20px;
    overflow-x: auto;
  }

  .topic-link {
    display: inline-block;
    color: #3c774b;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  /* small-break */
  @media only screen and (min-width: 576px) {
  }

  /* medium-break */
  @media only screen and (min-width: 768px) {
  }

  /* large-break */
  @media only screen and (min-width: 992px) {
    .help {
      max-width: calc(var(--large-break) - 20px);
      margin: var(--container-tp-margin-medium) auto;
    }
  }

  /* x-large-break */
  @media only screen and (min-width: 1200px) {
  }

  /* xx-large-break */
  @media only screen and (min-width: 1400px) {
  }
</style>
